
    <div class="well">
    <li class="media" id="micropost-<%= micropost.id %>">
      <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
      <span class="media-heading"><%= link_to micropost.user.name, micropost.user %></span>
      <span class="media-body"><%= micropost.content %></span>
      <span class="media-object">
        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
      </span>
    </li>
    </div>
